/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILITY */

.h-100px{
    height: 100px;
}

.h-80px{
    height: 80px;
}

.h-60px{
    height: 60px;
}

.w-80px{
    width: 80px;
}

.w-60px{
    width: 60px;
}

.ofy-auto{
    overflow-y: auto;
}

/* REGOLE GENERALI */

body{
    height: 100vh;

    background: linear-gradient(to bottom, #009688 0 17%, #DADBD3 15% 100%);

    overflow: hidden;
}

main{
    width: 1200px;
    height: calc(100vh - 60px);

    margin: 30px auto;
    padding: 0;

    background-color: #F5F5F5;
}

#sidebar header{
    background-color: #EAEAEA;
}

#user-tools *{
    margin: 0 10px;
    
    font-size: 30px;

    color: #B1B1B1;

    cursor: pointer;
}

#notifications{
    background-color: #8EDAFC;
}

#notifications i{
    font-size: 30px;

    color: #8EDAFC;
}

#notifications a{
    font-size: 14px;

    color: #808080;

    cursor: pointer;
}